*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    background-color: brown;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 13px;
    margin-top: 20px;
}


#todos{
    border: 1px solid black;
    padding: 15px;
}

.box {
    display: flex;
    background-color: green;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: #fff;
    border-radius: 10px;